---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About Me</h1>
    <figure class="about-image">
      <img src="/LivingWaters/assets/dlhmugshot.jpg" alt="My mug" width="330">
    </figure>
    <section id="about-me">
     <p>My name is <strong>Dave Haines</strong>, and I am a follower of Jesus Christ, committed to the authority of God’s Word and the glory of His name. I hold firmly to a Reformed understanding of doctrine, rooted in the historic truths of the Christian faith, and centered on the redemptive work of Christ.</p>

      <p>My journey has been shaped by a deep love for Jesus our King, a desire to see lives transformed by the gospel, and a calling to faithfully proclaim biblical truth. I affirm the supremacy of Christ in all things and embrace the historic confessions that reflect the unity and clarity of the Christian witness throughout the ages.</p>

      <p>This <a href="/LivingWaters/blog/personal-statement">personal statement of faith</a> reflects what I believe about God, humanity, salvation, and the church. It is written not only as a doctrinal affirmation, but as a testimony to the grace of God that continues to shape my life and service in His Kingdom. Soli Deo Gloria!</p>
    </section>
</div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -1em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  #about-me {
    font-family: var(--font-family-sans)
    line-height: 1.6;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
